.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    .page-btn {
      padding: 8px 10px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #006239;
        color: white;
      }

      &.active {
        background-color: #006239;
        color: white;
        font-weight: 400;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
