@use "/src/App.scss";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");



form {
    margin-top: 5em;
    height: 460px;
    width: 400px;
    border: 1px solid #e5e5e5;
    background-color: #ffffffea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5em;
    .server-error {
        padding: 8px;
        min-height: 40px;
        background-color: rgba(255, 0, 0, 0.1);
        border-left: 4px solid red;
        font-size: 14px;
        font-weight: 500;
        color: red;
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    h3 {
        font-family: "Frank Ruhl Libre", serif;
        font-weight: 600;
        font-size: 2.5em;
        color: #333;
    }
    .input-control {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        position: relative;
        label {
            font-weight: 500;
            font-size: 15px;
            padding: 4px 0;
        }
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #e5e5e5;
            transition: 0.3s;
            font-size: 17px;
            &:focus {
                outline: none;
                border: 1px solid #007c89;
                box-shadow: inset 0 0 0 1px #007c89;
                transition: 0.3s;
            }
        }
    }

    button {
        padding: 14px 42px;
        border-radius: 30px;
        background-color: #007c89;
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
        margin-top: 1.6em;
        transition: 0.3s;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #015861;
            transition: 0.3s;
        }
    }
}
