.wrapper {
  form {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2em;
    .error{
      margin: 10px 0;
      padding: 8px;
      text-align: start;
      background-color: #f8d7da;
      border-left: 4px solid var(--error-color);
      color: var(--error-color);
    }
    h2{
      text-align: center;
      font-size: 1.7em;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      position: relative;

      span{
        position: absolute;
        color: var(--bg-button);
        top: 42px;
        right: 10px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: var(--weight-bold);
        text-decoration: none;
        &:hover{
          color: var(--bg-button-hover);
        }
      }
    }

    button {
      margin-top: 0.5em;
    }
  }
}
