.menu-header {
    position: relative;
    padding: 14px 2rem;
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 4;
    background-image: url("../../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(34, 34, 34, 0.4);
        backdrop-filter: blur(5px);
        z-index: 999;
    }

    h2 {
        position: absolute;
        z-index: 1000;
        font-family: var(--font-sidebar-header);
        font-size: 3em;
        transform: translateX(50%);
        color: #fff;
    }
}


// Dashboard Header
.dashboard-header {
    max-height: 70px;
    border-bottom: var(--border);
    grid-area: 1 / 2 / 2 / 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    position: relative;
    transition: margin-left 0.3s ease-in-out;
    background-color: var(--header-bg);
    position: relative;
    &.open {
        margin-left: 0;
    }

    &.closed {
        margin-left: -250px;
    }
    .toggle-btn {
        width: 37px;
        height: 37px;
        cursor: pointer;
        svg {
            transition: 0.3s;
        }

        &:hover > svg {
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
    .control-unit {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1.5em;
            li {
                width: 37px;
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 5px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: var(--focus-bg);
                    transition: 0.3s;
                }
            }
        }
    }
}
