.booking-table {
    overflow-x: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 16px 16px 32px;
    background: var(--bg-color);
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    h2 {
        text-align: start;
        padding: 12px 0;
        margin: 6px 0;
        font-size: 22px;
    }

    
    table {
        width: 100%;
        border-collapse: collapse;
        border: var(--border);
        th,
        td {
            padding: 12px 16px;
            text-align: left;
            border: var(--border);
        }

        td:nth-child(7) {
            color: var(--text-color);
            font-weight: 500;
            display: flex;
            position: relative;
            cursor: pointer;
            text-transform: capitalize;
        }

        th {
            position: relative;
            background: var(--secondary-bg);
            font-weight: 500;
            width: 150px;
        }

        tr:hover {
            background: var(--secondary-bg);
        }

        tbody tr:last-child td {
            border-bottom: none;
        }
    }

    .error {
        color: red;
        text-align: center;
    }
}
