@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");

.wrapper {
    h3 {
        font-family: "Frank Ruhl Libre", serif;
        font-weight: 600;
        color: #333;
        width: 100%;
        font-size: 1.9em;
    }

    .error-message {
        padding: 8px;
        min-height: 40px;
        background-color: rgba(255, 0, 0, 0.1);
        border-left: 4px solid red;
        font-size: 14px;
        font-weight: 500;
        color: red;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .input-control {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        position: relative;

        .icon-box {
            position: absolute;
            right: 0;
            top: 52px;
        }

    }

    button{
        align-self: start;
    }
}
